---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores((postalCode=80202))?apiKey=qy8vdpfcgsxtfw657mnbu7nc&format=json&show=city,location,name,phone,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"currentPage":1,"total":0,"totalPages":0,"queryTime":"0.012","totalTime":"0.013","partial":false,"canonicalUrl":"/v1/stores((postalCode=\"80202\"))?show=city,location,name,phone,storeType&format=json&apiKey=qy8vdpfcgsxtfw657mnbu7nc","stores":[]}'
  recorded_at: Thu, 13 Apr 2017 17:57:18 GMT
recorded_with: VCR 3.0.3
